body {
	background-color: burlywood;
}

#root {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	background-color: white;
	width: 300px;
	height: 450px;
	border-radius: 20px;
	box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1);
}

.screen {
	background-color: #1e2839;
	height: 150px;
	/*
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
*/
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.screen h1,
p {
	margin: 15px;
	color: rgb(191, 191, 191);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.screen h1 {
	font-size: 50px;
	font-weight: 200;
}

.screen p {
	font-size: 25px;
	font-weight: 200;
}

.keyboard {
	background-color: white;
	height: 300px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0px;
	grid-auto-rows: minmax(300px/5, auto);
	/*
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
*/
}

button {
	color: rgb(40, 40, 40);
	font-size: 15px;
}

.yellow {
	background-color: rgb(218, 150, 109);
}

.gray {
	background-color: rgb(180, 180, 180);
}

.white {
	background-color: white;
}

.orange {
	background-color: rgb(255, 102, 0);
}
